*, *::before, *::after {
    box-sizing: inherit;
  }
  
  
  html {
      box-sizing: border-box;
      overflow-x: hidden;
  }

  body {
    background: linear-gradient(180deg, #ECC19C 0%, #EC6408 100%);
    font-family: 'Roboto', sans-serif;
  }


  main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h1 {
    color: #FFFFFF;
    font-size: 3em;
    text-align: center;
  }

  img {
    max-width: 70%;
    max-height: 70%;
    margin: auto;
    
  }

  button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    width: 90%;
    background: linear-gradient(180deg, #FFFFFF 0%, #989898 100%); 
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 43px;
    border-radius: 10px;
    margin: auto;
  }

  button:hover {
    background: #FFFFFF;
	box-shadow: inset 5px 5px 18px -11px #000000;
  }

  .sad-face {
    display: block;
    align-items: center;
  }
