.text-center{
    text-align: center;
}

.image-center {
display: flex;
justify-content: center;
}

.backgroundmap {
height: 100px;
padding: 5px;
background-color: blue;
margin-left: 70px;
margin-right: 70px;
border-radius: 5px / 5px;
}

.backgroundmap2 {
    display: block;
    height: 100px;
    width: 100px;
    color: blue;
}
body{
    background-color:orange
}  
