body{
    background: linear-gradient(180deg, #ECC19C 0%, #EC6408 100%);
    font-family: 'Roboto', sans-serif;
    height: 667px;
}  

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}



.backgroundmap {
height: 170px;
width: 290px;
padding-left: 8px;
background-color: #9BE3FF;
border: white;
border-style: solid;
border-width: 7px;
margin: 65px 25px 20px 25px;
border-radius: 10px;
}

.Dots{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
          
.Dot{
 margin-left: 5px;
}



.searchtext {
    border: none;
    border-radius: 40px;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: gray;
    line-height: 30px;
    width: 500px;
    padding-left: 5px;   
    transition: ease-in 0.4s;
}

.searchzone > .searchtext:focus{
    width: 200px;
    padding: 45px;
} 

.searchzone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: hidden;
    border-radius: 40px;
    box-shadow: 100px;
    background: white;
    height: 30px;
    width: 200px;
    padding: 20px;
    transition: width 2s, transform 2s;
}