body{
    background: linear-gradient(180deg, #ECC19C 0%, #EC6408 100%);
    font-family: 'Roboto', sans-serif;
    height: 667px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.searchtext {
    height: 45px;
    width: 190px;
    border: none;
    border-radius: 40px;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: gray;
    margin-top: 45px;
    transition: width 2s, transform 2s; 
    transition: ease-in 0.4s;
}

.searchtext:focus{
    width: 230px;
    height: 70px;
} 

.container {
    width: 20%;
    margin: 10px auto;
}

.carousel {
    background: #9BE3FF;
    border: 7px solid white;
    border-radius: 15px;
    height: 230px;
    overflow: hidden;
    position: relative;
    margin: 55px 25px 20px 25px;
}

.slider {
    height: 100%;
    display: flex;
    width: 700%;
    transition: all 0.3s;
}

.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.controls ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.controls ul li {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background: gray;
    border-radius: 50px;
    margin: 10px;
}

.controls ul li.selected {
    background: #9BE3FF;
    width: 15px;
    height: 15px;
}