*, *::before, *::after {
    box-sizing: inherit;
  }
  
  
  html {
      box-sizing: border-box;
      overflow-x: hidden;
      height: 100%;
  }

  body {
    background: linear-gradient(180deg, #ECC19C 0%, #EC6408 100%);
    font-family: 'Roboto', sans-serif;
  }


  main {
    height: 72vh;
    overflow: scroll;
  }

  ul {
    display: none;
  }

  #ajout-recette{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fieldset>label>input {
    width: 80vw;
    min-height: 3em;
    margin: 8px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
  }

  .fauxfieldset {
    width: 80vw;
    min-height: 3em;
    margin: 8px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    text-align: left;
    color: #919191;
    background-color: #FFFFFF;
  }

  .recipe-image>p, .recipe-image>label>input {
    margin: 0;
    padding: 0;
  }

  /* Boites modales*/
  .modal-title {
    color: #333333!important;
    font-weight: 100!important;
  }

  .recipe-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  textarea {
    width: 88vw;
    height: 60vh;
    resize: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    color: #333333;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
  }

  .modal-footer>button {
    margin: 0 10px;
    background-color: #FFFFFF;
    border: none;
  }

  .modal-body>button {
    border-radius: 10px;
    border: none;
  }
  
  .modal-body>button>img, .delete-ing>img, .delete-tag>img {
    padding-bottom: 9px;
  }


  .button-add { /* manque un équivalent du :visited pour le tactile*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 15px auto;
    font-weight: bold;
    font-size: 1.5em;
    color: #333333;
    text-decoration: none;
    width: 75vw;
    background: linear-gradient(180deg, #FFFFFF 0%, #989898 100%); 
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 43px;
    border-radius: 10px;
  }

  .button-add:hover {
    background: #FFFFFF;
	  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset 5px 5px 18px -11px #000000;
  }

  /* Éléments dynamiques */
  .frame, .small-frame {
    background-color: #D9D9D9;
    border-radius: 10px;
  }
  .frame>p, .small-frame>p {
    padding: 0 10px 0 10px;
  }

  #ingredients-test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #tag-test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .small-frame {
    min-width: 30%;
    width: fit-content;
    height: 22px;
    color: #333333;
    margin: 2px;
  }

  .frame {
    margin: 10px;
    max-height: 25px;
    display: flex;
    justify-content: space-between;
  }

  .delete-ing {
    background: none;
    border: none;
    display: flex;
    align-items: center;
  }

  .delete-tag {
    background: none;
    border: none;
    display: flex;
    align-items: center;
  }

  .bouton-ing, .bouton-tag {
    overflow: scroll;
  }