.text-center{
  text-align: center;
}

li{
  display: block;
}

.p{
  text-align: right
}

body{
  background: linear-gradient(rgb(255, 165, 0), red);
}

.container{
  display: flex;
}

.m-3{
  margin: 3px;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
}

.couleur{
  color: #ffffff
}

.couleur-bleue{
  color: rgba(52, 136, 239);
}

table{
  border: 2px solid black;
}

th, td{
  border: 1px solid #dddddd;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.justify-space-around {
  display: flex;
  justify-content: space-around;
}

.items-center {
  display: flex;
  align-items: center;
}

.bg-white{
  background-color: #ffffff;
} 

.bg-bouton{
  background: linear-gradient(#dddddd, #989898)
}

.bg-bouton2{
  background-color: rgba(52, 136, 239);
}

body{
  background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
}
