.text-center{
  text-align: center;
}

.a_droite{
  text-align: right;
  margin-bottom: 30px;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.justify-space-around {
  display: flex;
  justify-content: space-around;
}

.items-center {
  display: flex;
  align-items: center;
}

.bg-white{
  background-color: #ffffff;
} 

.bg-bouton{
  background: linear-gradient(#dddddd, #989898);
}

.bg-bouton:hover {
  background: #FFFFFF;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset 5px 5px 18px -11px #000000;
}

.bouton2{
  background-color: rgba(52, 136, 239);
  color:#FFFFFF;
}

.bouton2:hover {
  background: #FFFFFF;
  color: rgb(52, 136, 239);
}

body{
  background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
}

input{
  border: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight:bold;
}

.gris{
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right:5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 1px;
  border-radius: 10px;
  background-color: rgb(210, 210, 210);
}

hr{
  background-color: #ffffff;
  margin-top: 7px;
}

.roboto{
  font-family: 'Roboto', Arial, sans-serif;
}

h1{
  color: #ffffff;
  font-weight: bold;
}

.loin{
  margin-top: 70px;
}
