body{
    background: linear-gradient(180deg, #ECC19C 0%, #EC6408 100%);
    font-family: 'Roboto', sans-serif;
    height: 667px;
}  

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.boutonquestionaposer {
    height: 40px;
    width: 270px;
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(#ffffff, #c8c6c6);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    text-align: center;
}

.drop-icone {
    
}

.popup {

}

.zonequestion {
    height: 60px;
    width: 80vw;
    border: none;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0.3em;
    cursor: pointer;
    text-align: center;
    transition: 0.35s ease-out;
    margin: 10px auto;
}

.zonereponse {
    display: none;
    height: 130px;
    width: 300px;
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    text-align: center;
    
}

