.justify-space-around {
    display: flex;
    justify-content: space-around;
}

.items-center {
    display: flex;
    align-items: center;
}

  footer{
   background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
    position: fixed;
    bottom: 0;
    width: 100%;

 }
 .align-items{
    display: flex;
    align-items: flex-end;
 }
 hr{
    background-color: #ffffff;
    margin-top: 10px;
 }

 .smile{
    margin-bottom: 5px;
 }

 .bouton1,.bouton2{
    font-size: xx-large;
    color: white;
    text-decoration: none;
 }
 
 
