.justify-space-around {
    display: flex;
    justify-content: space-around;
}

.items-center {
    display: flex;
    align-items: center;
}

  footer{
    position: fixed;
    bottom: 0;
    width: 100%;

 } 
 .align-items{
    display: flex;
    align-items: flex-end;
 }
 hr{
    background-color: #ffffff !important;
    margin-top: 10px !important;
    padding: 1px;
    opacity: 1 !important;
    border-top: 0 !important;
 }

 .smile{
    margin-bottom: 5px !important;
 }

 .bouton1,.bouton2{
    font-size: xx-large !important;
    color: white !important;
    text-decoration: none !important;
 }
 
 
