.justify-space-around {
    display: flex !important;
    justify-content: space-around !important;
}

.items-center {
    display: flex !important;
    align-items: center !important;
}

  footer{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    right: 0 !important;

 } 
 .align-items{
    display: flex !important;
    align-items: flex-end !important;
 }
 hr{
    background-color: #ffffff !important;
    margin-top: 10px !important;
    padding: 1px;
    border-top: 0 !important;
 }

 .smile{
    margin-bottom: 5px !important;
 }

 .bouton1,.bouton2{
    font-size: xx-large !important;
    color: white !important;
    text-decoration: none !important;
 }
 
 
