body{
  background: linear-gradient(180deg, #ECC19C 0%, #EC6408 100%);
  font-family: 'Roboto', sans-serif;
}  

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zoneobjet {
  height: 40px;
  width: 90px;
  border: none;
  border-radius: 40px;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: gray;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: 20%;
  padding-left: 10px;
  transition: width 2s, transform 2s; 
  transition: ease-in 0.4s;
}

.zoneobjet:focus{
  height: 47px;
  width: 180px;
  margin-left: 19%;
} 

.zonequestion {
  height: 230px;
  width: 220px;
  border: none;
  border-radius: 40px;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: gray;
  margin-left: 20%;
  padding-top: 35px;
  padding-left: 15px;
  transition: width 2s, transform 2s; 
  transition: ease-in 0.4s;
}

.zonequestion:focus {
  width: 245px;
  height: 250px;
  margin-left: 19%;
}

.bg-bouton{
  height: 40px;
  width: 235px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* background: linear-gradient(#dddddd, #989898); */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-left: 20%;
  margin-top: 5%;
  transition: width 2s, transform 2s; 
  transition: ease-in 0.4s;
}

.bg-bouton:focus {
  height: 50px;
  width: 250px;
  margin-left: 19%;
}