body{
  background: linear-gradient(180deg, #ECC19C 0%, #EC6408 100%);
  font-family: 'Roboto', sans-serif;
}  

.centrer {
margin-left: 500px;
  }

  textarea {
    resize: none;
  }
  
.centrage {
margin-left: 580px;
  }

  .text-center{
    text-align: center;
}

.centrer {
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
  }
