body{
    background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
  }

 .bold{
  font-weight: bold;
 }

 main{
  margin-left:10px ;
  margin-right:10px ;
  margin-bottom:90px ;
  position: relative;
 }

.roboto{
  font-family: 'Roboto', Arial, sans-serif;
}

hr{
  background-color: #ffffff;
  height: 2px;
}

.noir{
  color: black !important;
}

.blanc{
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right:10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 7px;
  border-radius: 10px;
  background-color: #ffffff;
}

.scroller {
  height: 454px;
  overflow-y: scroll;
  /* scrollbar-color: black;
  scrollbar-width: bold; */
}