body{
        background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
  }
 .bold{
  font-weight: bold;
 }
 main{
  margin-left:10px ;
  margin-right:10px ;
  margin-bottom:90px ;
  position: relative;
 }