.justify-space-around {
    display: flex;
    justify-content: space-around;
}

.items-center {
    display: flex;
    align-items: center;
}

.roboto{
    font-family: 'Roboto', Arial, sans-serif;
  }
  hr{
    background-color: #ffffff;
    margin-top: 7px;
 
     
  }
  h1{
    color: #fdf7f7;
   
  }
  img{
    margin-top: 10px;
  }
  body{
    margin: 0%;
  }