.justify-space-around {
    display: flex;
    justify-content: space-around;
}

.items-center {
    display: flex;
    align-items: center;
}

.roboto{
    font-family: 'Roboto', Arial, sans-serif;
  }
  hr{
    background-color: #ffffff;
    margin-top: 7px;
  }
  main{
     background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
  }
  h1{
    color: #ffffff;
   
  }
  img{
    margin-top: 10px;
  }