.text-center{
    text-align: center;
}

.m-3{
    margin: 3px;
}

.container{
    display: flex;
}

li{
    display: block;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.couleur{
    color:#ffffff
}

.justify-space-around {
    display: flex;
    justify-content: space-around;
}

.items-center {
    display: flex;
    align-items: center;
}

.bg-white{
    background-color: #ffffff;
}

.bg-bouton{
    background: linear-gradient(#ffffff, #989898)
}

.bg-bouton2{
    background-color: rgba(52, 136, 239);
}

body{
    background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
}

.m-7{
    margin: 7px;
}

.hide{
    color: rgba(52, 136, 239);
    text-decoration:none;
}
    