body{
    background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
    height: 670px;
    overflow: hidden;
}

h3{
    color:#ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.roboto{
    font-family: 'Roboto', Arial, sans-serif;
  }

.blanc{
    color:#ffffff
}

main{
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.flex{
    display:flex;
    justify-content: space-between;
}

img{
    margin-left:3px;
    margin-right: 3px;
    border-radius: 10px;
}

.block{
    display:block !important;
}

.m-20{
    margin-top:20px;
    margin-bottom:20px;
}

.bouton{
    background: linear-gradient(#ffffff, #989898);
    font-weight:bold;
    width:100%;
    border-radius: 10px;
    margin-top: 15px;
    padding: 6px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bouton:hover {
    background: #FFFFFF;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset 5px 5px 18px -11px #000000;
  }

.flex-space-between{
    display:flex;
    justify-content: space-between;
}

h4{
    font-weight:bold;
    margin-bottom: 3px;
    margin-top: 20px;
}

.block:hover{
    color: black;
}

img:hover{
    border: 2px solid black;
}

a{
    text-decoration: none;
    color: #FFFFFF
}

a:hover{
    color: black;
}