.text-center{
  text-align: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
}

body{
  background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
}

.bg-white{
  background-color: #ffffff ;
  padding: 7px;
  border-radius: 10px;
}

.bg-bouton{
  background: linear-gradient(#ffffff, #989898)
}

li{
  display: block;
  }

.couleur{
  color:#ffffff
}

.justify-space-around {
  display: flex;
  justify-content: space-around;
}

.items-center {
  display: flex;
  align-items: center;
}

.m-7{
  margin: 7px;
}

.p1{
  text-align: right;
}

input{
  border: 10px;
  border-radius: 10px;
  padding: 10px
}

hr{
  background-color: #ffffff;
  margin-top: 7px;
}