.text-center{
  text-align: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

body{
  background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
}

.bg-white{
  background-color: #ffffff ;
  padding: 5px;
  border-radius: 10px;
}

.bg-bouton{
  background: linear-gradient(#ffffff, #989898);
  font-weight: bold;
}

.back-home:hover {
  background: #FFFFFF;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset 5px 5px 18px -11px #000000;
}

li{
  display: block;
  }

.couleur{
  color:#ffffff
}

.justify-space-around {
  display: flex;
  justify-content: space-around;
}

.items-center {
  display: flex;
  align-items: center;
}

.p1{
  text-align: right;
}

input{
  border: 0px;
  border-radius: 10px;
  padding: 5px
}

hr{
  background-color: #ffffff;
  margin-top: 7px;
}

.roboto{
  font-family: 'Roboto', Arial, sans-serif;
}

h1{
  color:#ffffff;
  font-weight: bold;
}

.theme1{
  background: linear-gradient(rgb(255, 165, 0), rgb(255, 0, 0));
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.theme2{
  background-image:url("../img/bois1.jpg") ;
  border-radius: 50%;
  height: 30px; 
  width: 30px;
}

.theme3{
  background-color: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.theme4{
  background: linear-gradient(rgb(236, 100, 8), rgb(151, 75, 255)) ;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.theme5{
  background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8)) ;
  border-radius: 50%;
  height: 30px;
  width: 30x;
}

td{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
}

main{
  padding: 0px;
}

.loin{
  margin-top: 70px;
}
