body{
    background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
    height: 667px;
  }

.text-center{
    text-align: center;
}

h3{
    color:#FFFFFF;
    margin-bottom: 3px;
    margin-top: 15px;
}

.blanc{
    color:#FFFFFF
}

.block{
    display:block;
    text-align: center;
}

.m-20{
    margin-top:20px;
    margin-bottom:20px;
}

.flex{
    display:flex;
    justify-content: space-between;
    gap: 10px;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
}

.roboto{
    font-family: 'Roboto', Arial, sans-serif;
}

main{
    padding-left: 10px;
    padding-right: 10px;
}

.block:hover{
    color: black;
}

/* img:hover{ */
    /* border: 2px solid black; */
/* } */

a{
    text-decoration: none;
    color: #FFFFFF
}

a:hover{
    color: black;
}

td{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
  }