body{
    background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
    height: 667px;
  }

.text-center{
    text-align: center;
}

h3{
    color:#FFFFFF;
    margin-bottom: 3px;
    margin-top: 15px;
}

.blanc{
    color:#FFFFFF
}

.block{
    display:block;
    
}

.m-20{
    margin-top:20px;
    margin-bottom:20px;
}

.flex{
    display:flex;
    justify-content: space-between;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
}

.roboto{
    font-family: 'Roboto', Arial, sans-serif;
}

main{
    padding-left: 10px;
    padding-right: 10px;
}

.block:hover{
    color: black;
}

img:hover{
    border: 2px solid black;
}
