body{
    background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8)) !important;
    height: 667px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

.text-center{
    text-align: center;
}

h3{
    color:#FFFFFF
}

.blanc{
    color:#FFFFFF
}

#carrousel{
    height: 100px;
    width: 200px;
    border: 2px;
    box-shadow: 0 0 14px rgb(0, 0, 0.3);
    position: relative;
}

#container{
    height: 200px;
    width: 400px;
}

.bouton{
    position: absolute;
    height: 50px;
    width: 30px;
    cursor: pointer;
    top: 100px;
}

#g{
    left: 0;
    opacity: 0.4px;
    transform: rotate(0deg);

}

#d{
    right: 0;
    opacity: 0.4px;
    transform: rotate(180deg);
}

#g:hover{
    transform: rotate(0deg) scale(1.1);
    opacity: 1;
}

#d:hover{
    transform: rotate(180deg) scale(1.1);
    opacity: 1;
}