.m-10{
    margin: 10px;
}

.bold{
    font-weight: bold;
}
.text-center{
    text-align: center;
}

body{
        background: linear-gradient(rgb(236, 183, 141), rgb(236, 100, 8));
}
.bold{
    font-weight: bold;
}