<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/404.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <title>404 - Page not found - FoodMap</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <img src="../img/FoodMap.png" alt="" width="80" height="80">
            <h1 class="roboto">FoodMap</h1>
           <a href="acc_fiche_profil.html"><img src="../img/Group.png"width="55" height="50"> </a> 
        </div>
        <hr />

    </header>
    <main class="content">
            <h1>Page non trouvée</h1>
            <img src="../img/error-white.png" alt="I'm Sad, I'm a hungry face not displayed by your browser"/>
            <a href="Accueil.html" target="_self" class="back-home">Retourner à l'accueil</a>
    </main>
</body>
</html>