<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de profil</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/page_profil.css">
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60" />
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="acc_fiche_profil.html">
                <img src="../img/Group.png" width="55" height="55">
            </a>
        </div>
        <hr />
    </header>
    <main class="roboto blanc">
        <div class="flex-space-between">
            <h2>WYON Romain</h2>
            <a href="page_parametres.html">
                <img src="../img/Parametres.png" height="30" width="30">
            </a>
        </div>
        <div class="m-20">
            <h4>Mes recettes</h4>
            <div class="flex">
                <div class="block">
                    <a href="page_recette.html">
                        <img src="../img/Tacos Mexicain.jpg" class="block" height="100" width="100"> 
                        <label>Tacos mexicain</label>
                    </a>
                </div>
                <div class="block">
                    <img src="../img/Blanquette de veau.jpg" class="block" height="100" width="100"> 
                    <label>Blanquette de veau</label>
                </div>
                <div class="block">
                    <a href="recette falafel.html">
                        <img src="../img/Falafel.jpg" class="block" height="100" width="100">
                    </a>
                    <label>Falafel</label>
                </div>
            </div>
        </div>
        <div class="m-20">
            <h4>Mes favoris</h4>
            <div class="flex">
                <div class="block">
                    <img src="../img/Paris-Brest.jpg" class="block" height="100" width="100">
                    <label>Paris-Brest</label>
                </div>
                <div class="block">
                    <img src="../img/Aglayan_Tek.jpg" class="block" height="100" width="100">
                    <label>Aglayan Tek</label>
                </div>
                <div class="block">
                    <img src="../img/mbourake.png" class="block" height="100" width="100">
                    <label>Mbouraké</label>
                </div>
            </div>
        </div>
        <a href="ajout_recette.html">
            <input type="button" class="bouton" value="Ajouter une recette">
        </a>
    </main>
    <footer>
       <hr />
        <div class="justify-space-around items-center">
            <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
            <a href="ajout_recette.html">
                <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
            </a>
            <a class="bouton2" href="FAQ.html" > &#8253; </a>
        </div>
    </footer>
    <script src="../javascript/background.js"></script>
</body>
</html>