<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de profil</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/page_profil.css">
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60" />
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="page_profil.html">
                <img src="../img/Group.png" width="55" height="55">
            </a>
        </div>
        <hr />
    </header>
    <main class="roboto blanc">
        <div class="flex-space-between">
            <h2>BOUTAYEB Nadia</h2>
            <a href="page_parametres.html">
                <img src="../img/Parametres.png" height="30" width="30">
            </a>
        </div>
        <div class="m-20">
            <label>Mes recettes</label>
            <div class="flex">
                <div class="block">
                    <img src="../img/Taboulé.jpg" height="55" width="55"> 
                    <label>Taboulé</label> 
                </div>
                <div class="block">
                    <img src="../img/Fatteh.jpg" height="55" width="55"> 
                    <label>Fatteh</label>
                </div>
                <div class="block">
                    <img src="../img/Falafel.jpg" height="55" width="55"> 
                    <label>Falafel</label>
                </div>
            </div>
        </div>
        <div class="m-20">
            <label>Mes favoris</label>
            <div class="flex">
                <div class="block">
                    <img src="../img/Paris-Brest.jpg" height="55" width="55">
                    <label>Paris-Brest</label>
                </div>
                <div class="block">
                    <img src="../img/Aglayan_Tek.jpg" height="55" width="55">
                    <label>Aglayan Tek</label>
                </div>
                <div class="block">
                    <img src="../img/mbourake.png" height="55" width="55">
                    <label>Mbouraké</label>
                </div>
            </div>
        </div>
        <label>Ma note moyenne</label>
        <a href="ajout_recette.html">
            <input type="button" class="bouton" value="Ajouter une recette">
        </a>
    </main>
    <footer>
        <form action="#">
            <hr />
            <div class="justify-space-around items-center">
                <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
                <a href="ajout_recette.html">
                    <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                </a>
                <a class="bouton2" href="FAQ.html" > &#8253; </a>
            </div>
           </form> 
    </footer>
</body>
</html>