<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/acc fiche profil.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/header.css">

</head>

<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60" />
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="http://127.0.0.1:5502/FoodMap/view/acc_fiche_profil.html"><img src="../img/Group.png"width="55" height="50"> </a> 
        </div>
        <hr />

    </header>
    <main class="mb-5">
        <div class="d-flex justify-content-between items-center">
            <h1> Nom Prénom</h1>
            <img src="../img/ecrou noir.png" width="50">
        </div>
        <h4> Mes recettes</h4>
        <div class="row">
        <div class="col-4"></div>
        <div id="carouselExample" class="carousel slide col-4">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/couscous poisson.jpg" class="d-block" height="75px" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/parmigiana.jpg" class=" d-block" height="75px" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-4"></div>
    </div>
    <h4> Mes favoris</h4>
    <a href="#"><img src="../img/falafels.jfif" width="110"></a>
    <a href="#"><img src="../img/GateauQuiPleure.jfif" width="110"></a>
    <a href="#"><img src="../img/feijoada.png" width="110"></a>
    <h4> Ma note moyenne </h4>
    <img src="../img/etoiles_pour_note-removebg-preview.png" height=100>
    <input class="degrader image-border padding-5 " type="button" value="Ajouter une recette">
</main>
    
    
    
    








<footer>
    <form action="#">
        <hr />
        <div class="justify-space-around items-center">
            <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
            <a href="http://127.0.0.1:5501/view/ajout_recette.html">
                <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
            </a>
            <a class="bouton2" href="http://127.0.0.1:5502/FoodMap/view/FAQ.html" > &#8253; </a>
        </div>
       </form> 
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


</body>

</html>