<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Accueil.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Accueil</title>
</head>

<body>

    <!-- Header -->

    <header>
        <div class="justify-space-around items-center">
            <img src="../img/FoodMap.png" alt="" width="80" height="80">
            <h1 class="roboto">FoodMap</h1>
            <img src="../img/Group.png" width="55" height="50">
        </div>
        <hr />

    </header>

    <!-- Main -->

    <main class="DivAccueil">
        <div class="text-center">
            <input type="text zonearrondie" placeholder="Recherche...">
        </div>
        <div class="image-center backgroundmap">
            <img src="../img/CarteContinents.png" height="150px">
        </div>
        <div class="DotMap">
            <h1>. . . . . . .</h1>
        </div>
    </main>

    <!-- Footer -->

    <footer>
        <form action="#">
            <hr />
            <div class="justify-space-around items-center">
                <a class="bouton1" href=javascript:history.go(-1)> &#8676; </a>
                <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                <a class="bouton2" href="http://127.0.0.1:5502/FoodMap/view/FAQ.html"> &#8253; </a>
            </div>
        </form>
    </footer>
</body>

</html>