<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/Accueil.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <title>Accueil</title>
</head>

<body>

    <!-- Header -->

    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60" />
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="acc_fiche_profil.html"><img src="../img/Group.png" width="55" height="50"> </a>
        </div>
        <hr />

    </header>

    <!-- Main -->

    <main class="main">

        <div>
            <input class="searchtext" type="search" id="search" onkeyup="filter()" value=""
                style="background-image:url(../img/Loupe.png);background-position:93% 50%;background-repeat:no-repeat;padding-left: 15px;padding-right: 25px;"
                placeholder="3,2,1... A vos fourneaux !">
        </div>

        <div class="contener">
            <div class="carousel">
                <div class="slider">
                    <section><a class="taillo" href="../view/europe.html"><img height="100%" width="100%" src="../img/MapEurope.png" alt="Oops"></a></section>
                    <section><a class="taillo" href="../view/asie.html"><img height="100%" width="100%" src="../img/MapAsie.png" alt="Oops"></a></section>
                    <section><a class="taillo" href="../view/afrique.html"><img height="100%" width="100%" src="../img/MapAfrique.png" alt="Oops"></a></section>
                    <section><a class="taillo" href="../view/amerique_nord.html"><img height="100%" width="100%" src="../img/MapAmDuNord.png" alt="Oops"></a></section>
                    <section><a class="taillo" href="../view/amerique_sud.html"><img height="100%" width="100%" src="../img/MapAmDuSud.png" alt="Oops"></a></section>
                    <section><a class="taillo" href="../view/oceanie.html"><img height="100%" width="100%" src="../img/MapOcéanie.png" alt="Oops"></a></section>
                    <section><a class="taillo" href=""><img height="100%" width="100%" src="../img/Mapx2.png" alt="Oops"></a></section>
                </div>
                <div class="controls">
                    <span class="arrow left"><img src="../img/LeftArrow.png" alt=""></span>
                    <span class="arrow right"><img src="../img/RightArrow.png" alt=""></span>
                    <ul>
                        <li class="selected"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
            </ul>
    </main>

    <!-- Footer -->

    <footer>
        <form action="#">
            <hr />
            <div class="justify-space-around items-center">
                <a class="bouton1" href=javascript:history.go(-1)> &#8676; </a>
                <a href="ajout_recette.html">
                    <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                </a>
                <a class="bouton2" href="FAQ.html"> &#8253; </a>
            </div>
        </form>
    </footer>
    <script src="../javascript/background"></script>
    <script src="../javascript/Accueil.js"></script>
</body>

</html>