<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Accueil.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Accueil</title>
</head>

<body>

    <!-- Header -->

    <header>
        <div class="justify-space-around items-center">
            <img src="../img/FoodMap.png" alt="" width="80" height="80">
            <h1 class="roboto">FoodMap</h1>
           <a href="../view/acc_fiche_profil.html"><img src="../img/Group.png"width="55" height="50"> </a> 
        </div>
        <hr />
    </header>

    <!-- Main -->

    <main class="main">

        <div class="searchzone">
            <input class="searchtext" type="text" placeholder="3,2,1... A vos fourneaux !">
            <img src="../img/Loupe.png" alt="???" height="30">
        </div>

        <div >
            <div class="backgroundmap">
                <img src="../img/MpMAléa.png" height="150px">
            </div>
            <div class="Dots">
                <div class="Dot">
                    <img src="../img/Ellipse Veille.png" alt="Ploupy">
                </div>
                <div class="Dot">
                    <img src="../img/Ellipse Veille.png" alt="Ploupy">
                </div>
                <div class="Dot">
                    <img src="../img/Ellipse Veille.png" alt="Ploupy">
                </div>
                <div class="Dot">
                    <img src="../img/Ellipse Veille.png" alt="Ploupy">
                </div>
                <div class="Dot">
                    <img src="../img/Ellipse Veille.png" alt="Ploupy">
                </div>
                <div class="Dot">
                    <img src="../img/Ellipse Veille.png" alt="Ploupy">
                </div>
                <div class="Dot">
                    <img src="../img/Ellipse Active.png" alt="Plypou">
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer>
            <form action="#">
                <hr />
                <div class="justify-space-around items-center">
                    <a class="bouton1" href=javascript:history.go(-1)> &#8676; </a>
                    <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                    <a class="bouton2" href="../view/FAQ.html"> &#8253; </a>
                </div>
            </form>
        </footer>

    </main>

</body>

</html>