<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/plats_continents.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Recettes Afrique</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60">
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="acc_fiche_profil.html">
                <img src="../img/Group.png" width="55" height="55">
            </a> 
        </div>
        <hr />
    </header>
    <main class="roboto blanc">
        <h2>AFRIQUE</h2>
        <div class="m-20">
            <h3>Tunisie</h3>
            <div class="flex">
                <div class="block">
                    <img src="../img/couscous_poisson.jpg" class="block" height="80" width="80"> 
                    <label>Couscous au poisson</label> 
                </div>
                <div class="block">
                    <img src="../img/zlabiya.jpg" class="block" height="80" width="80"> 
                    <label>Zlabiya</label>
                </div>
                <div class="block">
                    <a href="recette fricassé.html">
                        <img src="../img/fricasse_tunisiens.jpg" class="block" height="80" width="80">
                    </a>
                    <label>Fricassés tunisiens</label>
                </div>
                <div class="block">
                    <img src="../img/tajine_tunisien.jpg" class="block" height="80" width="80"> 
                    <label>Tajine Tunsiens</label>
                </div>
            </div>
        </div>
        <div class="m-20">
            <h3>Sénégal</h3>
            <div class="flex">
                <div class="block">
                    <img src="../img/mafe.jpg" class="block" height="80" width="80"> 
                    <label>Mafé</label> 
                </div>
                <div class="block">
                    <img src="../img/poulet-yassa.jpg" class="block" height="80" width="80"> 
                    <label>Poulet Yassa</label>
                </div>
                <div class="block">
                    <img src="../img/tieb.jpg" class="block" height="80" width="80"> 
                    <label>Tieb</label>
                </div>
                <div class="block">
                    <img src="../img/mbourake.png" class="block" height="80" width="80"> 
                    <label>Mbouraké</label>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <hr />
        <div class="justify-space-around items-center">
            <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
            <a href="ajout_recette.html">
                <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
            </a>
            <a class="bouton2" href="FAQ.html" > &#8253; </a>
        </div>
    </footer>
</body>
</html>