<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/plats.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Recettes Afrique</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60" />
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="http://127.0.0.1:5502/FoodMap/view/acc_fiche_profil.html"><img src="../img/Group.png"width="55" height="50"> </a> 
        </div>
        <hr />

    </header>
    <main>
        <h1>AFRIQUE</h1>
        <h3>Tunisie</h3>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <img src="../img/couscous_poisson.jpg" class="rounded-4" height="100" width="100"><br/>
                    <label for="name" class="blanc">Couscous au poisson</label>
                </div>
                <div class="carousel-item text-center">
                    <img src="../img/zlabiya.jpg" class="rounded-4" height="100" width="100"> <br/>
                    <label for="name" class="blanc">Zlabiya</label>
                </div>
                <div class="carousel-item text-center">
                    <img src="../img/fricasse_tunisiens.jpg" class="rounded-4" height="100" width="100"> <br/>
                    <label for="name" class="blanc">Fricassés tunisiens</label>
                </div>
                <div class="carousel-item text-center">
                    <img src="../img/tajine_tunisien.jpg" class="rounded-4" height="100" width="100"> <br/>
                    <label for="name" class="blanc">Tajine tunisien</label>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <p></p>
        <h3>Sénégal</h3>
        <div id="carouselExample2" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <img src="../img/tieb.jpg" class="rounded-4" height="100" width="100"> <br/>
                    <label for="name" class="blanc">Tieb</label>
                </div>
                <div class="carousel-item text-center">
                    <img src="../img/mafe.jpg" class="rounded-4" height="100" width="100"> <br/>
                    <label for="name" class="blanc">Mafé</label>
                </div>
                <div class="carousel-item text-center">
                    <img src="../img/poulet-yassa.jpg" class="rounded-4" height="100" width="100"> <br/>
                    <label for="name" class="blanc">Poulet Yassa</label>
                </div>
                <div class="carousel-item text-center">
                    <img src="../img/m'bourake.jpg" class="rounded-4" height="100" width="100"> <br />
                    <label for="name" class="blanc">M'bouraké</label>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </main>
    <footer>
        <form action="#">
            <hr />
            <div class="justify-space-around items-center">
                <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
                <a href="http://127.0.0.1:5501/view/ajout_recette.html">
                    <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                </a>
                <a class="bouton2" href="http://127.0.0.1:5502/FoodMap/view/FAQ.html" > &#8253; </a>
            </div>
           </form> 
    </footer>
</body>
</html>