<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ajout-recette.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Ajouter une recette</title>
</head>
<body>
    <header></header>
    <main>
        <form method="post" action="#" id="ajout-recette">
            <div>
                <label for="title">
                    <input type="text" id="recipe-title" name="recipe-title" placeholder="Mon titre" required/>
                </label>
            </div>
            <div>
                <label for="country">
                    <input type="text" id="recipe-country" name="recipe-country" placeholder="Pays" required/>
                </label>
            </div>
            <div>
                <label for="ingredients">
                    <input type="text" id="ingredients" name="ingredients" placeholder="Mes ingrédients" required/>
                </label>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div>
                <label for="recipe">
                    <textarea name="recipe" id="recipe" placeholder="Ma recette" required></textarea>
                </label>
            </div>
            <div>
                <label for="tags">
                    <input type="text" id="" name="" placeholder="Ajouter des filtres" required/>
                </label>
            </div>
            <input type="submit" value="Ajouter" id="ajout-recette"/>
        </form>
    </main>
    <footer></footer>
</body>
</html>