<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/ajout-recette.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <title>Ajouter une recette</title>
</head>
<body>
    <!-- header -->
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60" />
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="http://127.0.0.1:5501/view/page_profil.html"><img src="../img/Group.png"width="55" height="50"> </a> 
        </div>
        <hr />

    </header>

    <!-- corps de page -->
    <main>
        <div class="new-recipe">
            <form method="post" action="#" id="ajout-recette">
                <div class="fieldset">
                    <label for="title">
                        <input type="text" id="recipe-title" name="recipe-title" placeholder="Mon titre" required/>
                    </label>
                </div>
                <div class="fieldset">
                    <label for="country">
                        <input type="text" id="recipe-country" name="recipe-country" placeholder="Pays" required/>
                    </label>
                </div>
                
<!-- Mes ingrédients -->
<button class="fauxfieldset" type="button" data-bs-toggle="modal" data-bs-target="#newIngredientsList">
    Mes ingrédients
</button>

<div class="modal fade" id="newIngredientsList" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">    
        <div class="modal-header">
                <h1 class="modal-title fs-5" id="newIngredientsList">Mes ingrédients</h1>
            </div>                        
            <div class="modal-body">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Ajouter un ingrédient:</p>
                <input type="text" id="new-ingredient" name="new-ingredient" placeholder="Nouvel ingrédient" required/>
                <button type="button"><img src="../img/add.svg" alt="add button"></button>
            </div>
            <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal"><img class="modal-button" src="../img/discard.svg" alt="Discard button"></button>
                    <button type="button"><img class="modal-button" src="../img/save-changes.svg" alt="Save changes button"></button>
            </div>
        </div>
    </div>
</div>

<!-- Ma recette -->            
<button class="fauxfieldset" type="button" data-bs-toggle="modal" data-bs-target="#newRecipe">
    Ma recette
</button>

<div class="modal fade" id="newRecipe" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">    
        <div class="modal-header">
                <h1 class="modal-title fs-5" id="newRecipe">Ma recette</h1>
            </div>                        
            <div class="modal-body">
                <label for="recipe" class="recipe-area">
                    <textarea name="recipe" id="recipe" placeholder="Ajouter, mixer, etc" required></textarea>
                </label>
            </div>
            <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal"><img class="modal-button" src="../img/discard.svg" alt="Discard button"></button>
                    <button type="button"><img class="modal-button" src="../img/save-changes.svg" alt="Save changes button"></button>
            </div>
        </div>
    </div>
</div>

<!-- Filtres -->
<button class="fauxfieldset" type="button" data-bs-toggle="modal" data-bs-target="#filtersList">
Ajouter des filtres
</button>

<div class="modal fade" id="filtersList" tabindex="-1" data-bs-backdrop="static">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">    
<div class="modal-header">
    <h1 class="modal-title fs-5" id="filtersList">Ajouter des filtres</h1>
</div>                        
<div class="modal-body">
    <p>Nouveau filtre:</p>
        <input type="text" id="new-filter" name="new-filter" placeholder="Nouveau filtre" required/>
        <button type="button"><img src="../img/add.svg" alt="add button"></button>
</div>
<div class="modal-footer">
        <button type="button" data-bs-dismiss="modal"><img class="modal-button" src="../img/discard.svg" alt="Discard button"></button>
        <button type="button"><img class="modal-button" src="../img/save-changes.svg" alt="Save changes button"></button>
</div>
</div>
</div>
</div>
                
                <div>
                    <input class="button-add" type="submit" value="Ajouter" id="add-recipe"/>
                </div>
            </form>
        </div>
    </main>

    <!--Footer-->
    <footer>
        <form action="#">
            <hr />
            <div class="justify-space-around items-center">
                <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
                <a href="http://127.0.0.1:5501/view/ajout_recette.html">
                    <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                </a>
                <a class="bouton2" href="http://127.0.0.1:5501/view/FAQ.html" > &#8253; </a>
            </div>
           </form> 
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>