<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/plats_continents.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Recettes Amérique du Nord et Centrale</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60" />
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="acc_fiche_profil.html">
                <img src="../img/Group.png"width="55" height="55">
            </a> 
        </div>
        <hr />
    </header>
    <main class="roboto blanc">
        <h2>AMERIQUE DU NORD ET CENTRALE</h2>
        <div class="m-20">
            <h3>Mexique</h3>
            <div class="flex">
                <div class="block">
                    <img src="../img/Tacos Mexicain.jpg" height="55" width="55"> 
                    <label>Tacos Mexicain</label> 
                </div>
                <div class="block">
                    <img src="../img/Los Patacones.jpg" height="55" width="55"> 
                    <label>Los Patacones</label> 
                </div>
                <div class="block">
                    <img src="../img/Tamales.jpg" height="55" width="55"> 
                    <label>Tamales</label> 
                </div>
            </div>
        </div>
        <div class="m-20">
            <h3>Canada</h3>
            <div class="flex">
                <div class="block">
                    <img src="../img/Poutine.jpg" height="55" width="55"> 
                    <label>Poutine</label> 
                </div>
                <div class="block">
                    <img src="../img/Tourtiere.jpg" height="55" width="55"> 
                    <label>Tourtière</label> 
                </div>
                <div class="block">
                    <img src="../img/Bannock.jpg" height="55" width="55"> 
                    <label>Bannock</label> 
                </div>
            </div>
        </div>
    </main>
    <footer>
        <form action="#">
            <hr />
            <div class="justify-space-around items-center">
                <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
                <a href="ajout_recette.html">
                    <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                </a>
                <a class="bouton2" href="FAQ.html" > &#8253; </a>
            </div>
           </form> 
    </footer>
</body>
</html>