<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Contact.css">
    <title>Contact</title>
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
        <input type="text" placeholder="Posez votre question...">
    </div>
    <br>
    <br>
    <div class="text-center">
        <p>Question 1 (menu déroulant)</p>
        <textarea name="Question 1" id="" cols="30" rows="10"></textarea>
    </div>
    <br>
    <br>
    <div class="text-center">
        <p>Question 2 (menu déroulant)</p>
        <textarea name="Question 2" id="" cols="30" rows="10"></textarea>
    </div>
    <br>
    <br>
    <div class="text-center">
        <p>Question 3 (menu déroulant)</p>
        <textarea name="Question 3" id="" cols="30" rows="10"></textarea>
    </div>
    <br>
    <br>
    <div class="text-center">
        <p>Question 4 (menu déroulant)</p>
        <textarea name="Question 4" id="" cols="30" rows="10"></textarea>
    </div>
    <br>
</body>

</html>