<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/plats_continents.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Recettes Europe</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" class="rounded-4" width="60" height="60">
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="acc_fiche_profil.html">
                <img src="../img/Group.png"width="55" height="55">
            </a> 
        </div>
        <hr />
    </header>
    <main class="roboto blanc">
        <h2>EUROPE</h2>
        <div class="m-20">
            <h1>Italie</h1>
            <div class="flex">
                <div class="block">
                    <img src="../img/pizza_napolitaine.jpg" height="55" width="55"> 
                    <label>Pizza Napolitaine</label> 
                </div>
                <div class="block">
                    <img src="../img/parmigiana.jpg" height="55" width="55"> 
                    <label>Parmigiana</label> 
                </div>
                <div class="block">
                    <img src="../img/tiramisu.jpg" height="55" width="55"> 
                    <label>Tiramisu</label> 
                </div>
            </div>
        </div>
        <h3>France</h3>
        <div class="m-20">
            <div class="flex">
                <div class="block">
                    <img src="../img/Pot-au-feu.jpg" height="55" width="55"> 
                    <label>Pot-au-feu</label> 
                </div>
                <div class="block">
                    <img src="../img/Paris-Brest.jpg" height="55" width="55"> 
                    <label>Paris-Brest</label> 
                </div>
                <div class="block">
                    <img src="../img/Blanquette de veau.jpg" height="55" width="55"> 
                    <label>Blaquette de veau</label> 
                </div>
            </div>
        </div>
    </main>
    <footer>
        <hr />
        <div class="justify-space-around items-center">
            <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
            <a href="http://127.0.0.1:5501/view/ajout_recette.html">
                <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
            </a>
            <a class="bouton2" href="http://127.0.0.1:5501/view/FAQ.html" > &#8253; </a>
        </div>
    </footer>
</body>
</html>