<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/plats_continents.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Recettes Europe</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60">
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="acc_fiche_profil.html">
                <img src="../img/Group.png" width="55" height="55">
            </a> 
        </div>
        <hr />
    </header>
    <main class="roboto blanc">
        <h2>EUROPE</h2>
        <div class="m-20">
            <h3>Italie</h3>
            <div class="flex">
                <div class="block">
                    <img src="../img/pizza_napolitaine.jpg" class="block" height="100" width="100"> 
                    <label>Pizza <br /> Napolitaine</label> 
                </div>
                <div class="block">
                    <img src="../img/parmigiana.jpg" class="block" height="100" width="100"> 
                    <label>Parmigiana</label> 
                </div>
                <div class="block">
                    <a href="recette tiramisu.html">
                        <img src="../img/tiramisu.jpg" class="block" height="100" width="100">
                        <label>Tiramisu</label>
                    </a>  
                </div>
            </div>
        </div>
        <div class="m-20">
            <h3>France</h3>
            <div class="flex">
                <div class="block">
                    <img src="../img/Pot-au-feu.jpg" class="block" height="100" width="100"> 
                    <label>Pot-au-feu</label> 
                </div>
                <div class="block">
                    <a href="recette paris brest.html">
                        <img src="../img/Paris-Brest.jpg" class="block" height="100" width="100"> 
                        <label>Paris-Brest</label> 
                    </a>
                </div>
                <div class="block">
                    <img src="../img/Blanquette de veau.jpg" class="block" height="100" width="100"> 
                    <label>Blanquette <br />de veau</label> 
                </div>
            </div>
        </div>
    </main>
    <footer>
        <hr />
        <div class="justify-space-around items-center">
            <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
            <a href="ajout_recette.html">
                <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
            </a>
            <a class="bouton2" href="FAQ.html" > &#8253; </a>
        </div>
    </footer>
    <script src="../javascript/background.js"></script>
</body>
</html>