<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/FAQ.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <title>FAQ</title>
</head>

<body>

    <!-- Header -->
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60" />
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="acc_fiche_profil.html"><img src="../img/Group.png" width="55" height="50"> </a>
        </div>
        <hr />

    </header>

    <!-- Main -->

    <main>

        <div class="zonequestionclick">
            <a href="Formulaire Question.html">
                <button class="zonequestion">Un renseignement précis .?</button>
            </a>
        </div>

        <div class="flexquestion">
            <button class="zonequestion" onclick="myFunction(0)"
                style="background-image:url(../img/drop-img.svg);background-position:93% 50%;background-repeat:no-repeat;padding-left: 15px;padding-right: 45px;">Qui
                sommes-nous ?</button>

            <div class="zonereponse" id="myDIV1">
                <p class="center-text">Foodmap est une start-up particulièrement VIP. Des centaines de milliardaires financent chaque jour
                notre projet. Nous n'avons pas la prétention de dire que nous sommes l'une des meilleures application
                d'internet, puisque nous sommmes en tête avec une avance plus que sidérale.</p>
            </div>

            <button class="zonequestion" onclick="myFunction(1)"
                style="background-image:url(../img/drop-img.svg);background-position:93% 50%;background-repeat:no-repeat;padding-left: 15px;padding-right: 45px;">Gestion
                de votre compte</button>

            <div class="zonereponse" id="myDIV2">
                FlipFloup
            </div>

            <button class="zonequestion" onclick="myFunction(2)"
                style="background-image:url(../img/drop-img.svg);background-position:93% 50%;background-repeat:no-repeat;padding-left: 15px;padding-right: 45px;">Sécurité
                et confidentialité</button>

            <div class="zonereponse" id="myDIV3">
                FlipFloup
            </div>

            <button class="zonequestion" onclick="myFunction(3)"
                style="background-image:url(../img/drop-img.svg);background-position:93% 50%;background-repeat:no-repeat;padding-left: 15px;padding-right: 45px;">Politique
                et signalements</button>

            <div class="zonereponse" id="myDIV4">
                FlipFloup
            </div>
        </div>
    </main>

    <!-- Footer -->

    <footer class="bg-footer">
        <form action="#">
            <hr />
            <div class="justify-space-around items-center">
                <a class="bouton1" href=javascript:history.go(-1)> &#8676; </a>
                <a href="ajout_recette.html">
                    <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                </a>
                <a class="bouton2" href="FAQ.html"> &#8253; </a>
            </div>
        </form>
    </footer>

    <script src="../javascript/background.js"></script>
    <script src="../javascript/FAQ.js"></script>
</body>

</html>