<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="50" height="50" />
            </a>
            <h1 class="roboto">FoodMap</h1>
           <a href="http://127.0.0.1:5502/FoodMap/view/acc_fiche_profil.html"><img src="../img/Group.png"width="55" height="50"> </a> 
        </div>
        <hr />

    </header>


</body>

</html>