<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mot_de_passe_oublie.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Mot de passe oublié?</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <img src="../img/FoodMap.png" width="60" height="60">
            <h1 class="roboto">FoodMap</h1>
            <input type="image" id="input" class="truc" src="../img/Group.png" width="55" height="55">
        </div>
        <div class="modal" id="modal">
            <div class="modal-back"></div>
            <div class="modal-container text-center">
                <label>Vous ne vous êtes pas encore connecté.es</label> <br />
                <a href="#" id="modal-close">
                    <input type="button" class="bg-bouton machin" value="Se connecter">
                </a>
            </div>
        </div>
        <hr />
    </header>
    <main class="gris roboto">
        <form action="page_connexion.html">
            <div class="flex-col text-center">
                <img class="img" src="../img/Vector.png" width="45" height="50">
                <label for="pb_connexion">Problème de Connexion?</label>
                <p>Entrez votre adresse mail et nous vous enverrons un nouveau mot de passe qui devra être modifié sous 7 jours.</p>
                <input type="e-mail" placeholder="Adresse mail" required>
                <input type="submit" class="bouton " value="Envoyer">
            </div>
        </form>
    </main>
    <footer>
        <hr />
        <div class="justify-space-around items-center">
            <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
            <img src="../img/Mascotte.png" class="smile" width="50" height="50">
            <a class="bouton2"> &#8253; </a>
        </div>
    </footer>
    <script src="../javascript/background.js"></script>
    <script src="../javascript/modal.js"></script>
</body>
</html>