<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mot_de_passe_oublie.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Mot de passe oublié?</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <img src="../img/FoodMap.png" width="50" height="50" />
            <h1 class="roboto">FoodMap</h1>
            <img src="../img/Group.png" width="45" height="45">
        </div>
        <hr />
    </header>
    <main class="gris roboto">
        <div class="flex-col">
            <div class="text-center">
                <img class="img" src="../img/Vector.png" width="45" height="50">
                <label for="pb_connexion">Problème de Connexion?</label>
                <p>
                    Entrez votre adresse mail et nous vous enverrons un nouveau mot de passe qui devra être modifié sous 7 jours.
                </p>
                <input type="text" class="gris_clair" value="Adresse mail">
                <input type="submit" class="bouton" value="Envoyer">
            </div>
        </div>
    </main>
</body>
</html>