<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inscription.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Page d'inscription</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <img src="../img/FoodMap.png" width="50" height="50" />
            <h1 class="roboto">FoodMap</h1>
            <a href="acc_fiche_profil.html">
                <img src="../img/Group.png" width="45" height="45">
            </a>
        </div>
        <hr />
    </header>
    <main class="roboto gris">
        <form action="Accueil.html">
        <div class="m-3">
            <div class="flex-col">
                <div class="m-3">
                    <label for="prenom">Prénom</label> <br />
                    <input type="text" required>
                </div>
                <div class="m-3">
                    <label for="nom_de_famille">NOM</label> <br />
                    <input type="text" required>
                </div>
                <div class="m-3">
                    <label for="e-mail">Adresse mail</label> <br />
                    <input type="email" required>
                </div>
                <div class="m-3">
                    <label for="utilisateur">Nom d'utilisateur</label> <br />
                    <input type="text" required>
                </div>
                <div class="m-3">
                    <label for="mot_de_passe">Mot de passe</label> <br />
                    <input type="password" required>
                </div>
                <div class="m-3">
                    <input type="checkbox">
                    <label for="notification">J'accepte de recevoir les notifications par mail</label>
                </div>
                <div class="m-3">
                    <input type="checkbox" required>
                    <label for="CGU">J'ai lu et j'accepte <a href="http://127.0.0.1:5501/view/page%20CGU.html">les
                            conditions générales d'utilisations</a></label>
                </div>
                <p></p>
                <a href="Accueil.html">
                    <input type="submit" class="bouton largeur" value="Valider">
                </a>
            </div>
        </div>
        </form>
    </main>
    <footer>
        <hr />
        <div class="justify-space-around items-center">
            <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
            <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                <a class="bouton2" href="FAQ.html" > &#8253; </a>
            </div> 
    </footer>
</body>
</html>