<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/parametres.css">
    <title>page de paramètres</title>
    <div class="justify-space-around items-center">
        <img src="../img/FoodMap.png" width="50" height="50" />
        <h1 class="couleur">FoodMap</h1>
        <img src="../img/Group.png" width="45" height="45">
    </div>
</head>
<body>
    <form action="#">
        <div class="flex-col">
            <div class="m-7"></div>
            <div class="m-7">
                <label class="bg-white">Nom d'utlisateur</label>
                <div class="p1"><input type="text"></div>
            </div>
            <div class="m-7">
                <label class="bg-white">Adresse mail</label>
                <div class="p1"><input for="email"></div>
            </div>
            <div class="m-7">
                <label class="bg-white">Numéro de téléphone</label>
                <div class="p1"><input type="tel"></div>
            </div>
            <div class="m-7">
                <label class="bg-white">Thème</label>
            </div>
            <div class="m-7">
                <label class="bg-white">Mot de passe</label>
                <div class="p1"><input type="password"></div>
            </div>
            <div class="m-7">
                <label class="bg-white">Notifications</label>
            </div>
            <div class="m-7"></div>
        </div>
        <input type="submit" class="bg-bouton" value="Déconnexion">
    </form>
</body>
</html>