<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>page de paramètres</title>
</head>
<body>
    <h1 class="text-center">FoodMap</h1>
    <img src="../img/FoodMap.png" width="50" height="50" />
    <form action="#">
        <div class="flex-col">
            <p></p>
            <table class="items-center border-spacing">
                <tr>
                    <th><label for="nom_utilisateur">Nom d'utlisateur</label></th>
                    <th><input type="text" placeholder="utilisateur"></th>
                </tr>
                <tr>
                    <th><label for="adresse_mail">Adresse mail</label></th>
                    <th><input for="email" placeholder="prenom.nom@gmail.com"></th>
                </tr>
                <tr>
                    <th><label for="numero_telephone">Numéro de téléphone</label></th>
                    <th><input type="tel" placeholder="0712345689"></th>
                </tr>
                <tr>
                    <th><label for="theme">Thème</label></th>
                </tr>
                <tr>
                    <th><label for="mot_de_passe">Mot de passe</label></th>
                    <th><input type="password"></th>
                </tr>
                <tr>
                    <th><label for="notifications">Notificatiosn</label></th>
                </tr>
            </table>
            <p></p>
            <p></p>
        </div>
        <input type="submit" value="Déconnexion">
    </form>
</body>

</html>