<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inscription.css">
    <title>Page d'inscription</title>
    <div class="justify-space-around items-center">
        <img src="../img/FoodMap.png" width="50" height="50" />
        <h1 class="couleur">FoodMap</h1>
        <img src="../img/Group.png" width="45" height="45">
    </div>
</head>
<body>
    <form action="#">
        <div class="m-7"></div>
        <div class="m-3">
            <div class="flex-col">
                <div class="m-3">
                    <label for="prenom">Prénom</label>
                    <label for="nom_de_famille">NOM</label> <br />
                    <input type="text" name="prenom">
                    <input type="text" name="nom_de_famille">
                </div>
                <div class="m-3">
                    <label for="e-mail">Adresse mail</label> <br />
                    <input type="email">
                </div>
                <div class="m-3">
                    <label for="utilisateur">Nom d'utilisateur</label> <br />
                    <input type="text">
                </div>
                <div class="m-3">
                    <label for="mot_de_passe">Mot de passe</label> <br />
                    <input type="password">
                </div>
                <p></p>
                <div class="m-3">
                    <input type="checkbox">
                    <label for="notification">J'accepte de recevoir les notifications par mail</label>
                </div>
                <div class="m-3">
                    <input type="checkbox" name="CGU">
                    <label for="CGU">J'ai lu et j'accepte <a href="http://127.0.0.1:5501/view/page%20CGU.html">les
                            conditions générales d'utilisations</a></label>
                </div>
                <p></p>
                <input type="submit" class="bg-bouton2" value="Valider">
            </div>
        </div>
    </form>
</body>