<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/connexion.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>page de connexion</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <img src="../img/FoodMap.png" width="50" height="50" />
            <h1 class="roboto">FoodMap</h1>
            <img src="../img/Group.png" width="45" height="45">
        </div>
        <hr />
    </header>
    <main class="roboto">
        <form action="#">
            <div class="flex-col gris">
                <label for="utilisateur">Adresse mail ou nom d'utilisateur</label>
                <input type="text">
                <label for="mot de passe">Mot de passe</label>
                <input type="password">
                <div class="a_droite">
                    <label for="oublie_mdp"><a href="http://127.0.0.1:5501/view/mot_de_passe_oublie.html">Mot de passe oublié?</label>
                </div>
                <input type="submit" class="bouton2" value="Se connecter">
            </div>
            <div class="flex-col loin">
                <input type="submit" class="bg-bouton" value="S'inscrire">    
            </div>
        </form>
    </main>
</body>
</html>