<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/connexion.css">
    <title>page de connexion</title>
</head>

<body>
    <div class="justify-space-around items-center">
        <img src="../img/FoodMap.png" width="50" height="50" />
        <h1 class="couleur">FoodMap</h1>
        <img src="../img/Group.png" width="45" height="45">
    </div>
    <form action="#">
        <div class="m-3">
            <p><div class="flex-col">
                <label for="utilisateur">Nom d'utilisateur ou e-mail</label>
                <input type="text">
                <label for="mot de passe">Mot de passe</label>
                <input type="password">
                <div class="p">
                    <label for="mot_de_passe_oublie">Mot de passe oublié?</label>
                </div>
            </div></p>
            <div class="flex-col">
                <input type="submit" class="bg-bouton2" value="Se connecter">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <input type="submit" class="bg-bouton" value="S'inscrire">
            </div>
        </div>
    </form>
</body>
</html>