<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/page-recette.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Recette</title>
</head>
<body>
    <header></header>
    <main>
        <div class="head-recette">
            <img src="../img/parmigiana.jpg" alt="image du plat à réaliser" class="image-recette"/>
            <div class="info-recette">
                <h1>Tacos</h1>
                <h2>Mexique</h2>
                <div class="like"></div>
                <p></p>
                <div class="note"></div>
                <div class="moyenne"></div>
            </div>
        </div>
        <div class="recette">
            <button class="drop-down">
                <img src="../img/carrot.svg" alt="" class="icon">
                <h2>Ingrédients</h2>
                <img src="../img/drop-img.svg" alt="" class="drop-icon">
            </button>
            <ul></ul>
            <button class="drop-down">
                <img src="../img/whisk.svg" alt="" class="icon">
                <h2>Recette</h2>
                <img src="../img/drop-img.svg" alt="" class="drop-icon">
            </button>
            <p></p>
        </div>
    </main>
    <footer></footer>
</body>
</html>