<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/page-recette.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Recette</title>
</head>
<body>
    <header></header>
    <main>
        <div class="head-recipe">
            <img src="../img/parmigiana.jpg" alt="image du plat à réaliser" class="image-recipe"/>
            <div class="info-recipe">
                <div class="truc">
                    <div class="title-recipe">
                        <h1>Tacos</h1>
                        <h2>Mexique</h2>
                    </div>
                    <div class="like">
                        <img src="../img/empty-heart.svg" alt="">
                    </div>
                </div>
                <div class="note">
                    <img src="../img/empty-star.svg" alt="">
                    <img src="../img/empty-star.svg" alt="">
                    <img src="../img/empty-star.svg" alt="">
                    <img src="../img/empty-star.svg" alt="">
                    <img src="../img/empty-star.svg" alt="">
                </div>
                <p></p>
                <div class="note"></div>
                <div class="moyenne"></div>
            </div>
        </div>
        <div class="recipe">
            <button class="drop-down dropdown-toggle">
                <img src="../img/carrot.svg" alt="" class="icon">
                <h2>Ingrédients</h2>
                <img src="../img/drop-img.svg" alt="" class="drop-icon">
            </button>
            <div class="dropdown-item">
                    <ul class="ingredients-list">
                            <li> 1 lorem</li>
                            <li>2/3 ipsum</li>
                            <li>300gr dolor</li>
                            <li>1 sic amet</li>
                            <li>3 blabla</li>
                            <li>une pincée de sel</li>
                    </ul>
            </div>

            <button class="drop-down dropdown-toggle">
                <img src="../img/whisk.svg" alt="" class="icon">
                <h2>Recette</h2>
                <img src="../img/drop-img.svg" alt="" class="drop-icon">
            </button>
                <div class="dropdown-item recipe-text">
                    <p>Lorem ipsum dolor sit amet consectetur. Egestas pellentesque nisl dis pretium a. Velit aenean porttitor egestas consequat nibh cras amet eget ut. Aliquam mi consectetur arcu mattis diam facilisis vestibulum. Enim vitae iaculis tortor eget in diam. Habitant sagittis potenti.</p>
                </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>