<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/recherche continents.css">
    <title>Document</title>
</head>
<body>
    <h1>Définitions</h1>
    <p>"<span class="bold">Application</span>" désigne l'application FoodMap télechargeable sur le terminal des utilisateurs depuis les plateformes de distribution.</p>
    <p> "Ingrédients" désigne les ingrédients, aliments et produit, suggérés à l'utilisateur dans le cadre des services. </p>
    <p>"Produits" désigne les aliments et produits transformés dont dispose l'utilisateur à la date d'utilisation de l'Application.</p>
    <p> "recettes" désigne les recetes de cuisine suggérées par FoodMap à l'utilisateur incorporant les ingrédients et tout ou partie des produits renseignés par l'utilisater via 'application </p>


</body>
</html>