<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/connexion.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>page de connexion</title>
</head>
<body>
    <header>
        <div class="justify-space-around items-center">
            <a href="Accueil.html">
                <img src="../img/FoodMap.png" width="60" height="60" />
            </a>
            <h1 class="roboto">FoodMap</h1>
            <a href="acc_fiche_profil.html">
                <img src="../img/Group.png"width="55" height="55">
            </a> 
        </div>
        <hr />

    </header>
    <main class="roboto">
        <form action="Accueil.html">
            <div class="flex-col gris">
                <label for="utilisateur">Adresse mail ou nom d'utilisateur</label>
                <input type="text" required>
                <label for="mot de passe">Mot de passe</label>
                <input type="password" required>
                <div class="a_droite">
                    <label for="oublie_mdp"><a href="mot_de_passe_oublie.html">Mot de passe oublié?</a></label>
                </div>
                <input type="submit" class="bouton3 largeur" value="Se connecter">
            </div>
        </form>
        <a href="page_inscription.html">
            <input type="submit" class="bg-bouton largeur" value="S'inscrire">
        </a>
    </main>
    <footer>
        <form action="#">
            <hr />
            <div class="justify-space-around items-center">
                <a class="bouton1" href=javascript:history.go(-1) > &#8676; </a>
                <a href="ajout_recette.html">
                    <img src="../img/Mascotte.png" alt="" class="smile" width="50" height="50">
                </a>
                <a class="bouton2" href="FAQ.html" > &#8253; </a>
            </div>
           </form> 
    </footer>
    <script src="../javascript/background.js"></script>
</body>
</html>