<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/parametres.css">
    <title>page de paramètres</title>
</head>
<body>
    <div class="justify-space-around items-center">
        <img src="../img/FoodMap.png" width="50" height="50" />
        <h1 class="couleur">FoodMap</h1>
        <img src="../img/Group.png" width="45" height="45">
    </div>
    <form action="#">
        <div class="flex-col">
            <p></p>
                <div class="m-3">
                    <label for="nom_utilisateur" class="bg-white">Nom d'utlisateur</label>
                    <input type="text">
                </div>
                <div class="m-3">
                    <label for="adresse_mail" class="bg-white">Adresse mail</label>
                    <input for="email">
                </div>
                <div class="m-3">
                    <label for="numero_telephone" class="bg-white">Numéro de téléphone</label>
                    <input type="tel">
                </div>
                <div class="m-3">
                    <label for="theme" class="bg-white">Thème</label>
                </div>
                <div class="m-3">
                    <label for="mot_de_passe" class="bg-white">Mot de passe</label>
                    <input type="password">
                </div>
                <div class="m-3">
                    <label for="notifications" class="bg-white">Notifications</label>
                    <img src="../img/Vector.png" width="45" height="18">
                </div>
            <p></p>
            <p></p>
        </div>
        <input type="submit" class="bg-bouton" value="Déconnexion">
    </form>
</body>

</html>