<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/recherche continents.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
 <form method="get">
    <div class="m-10 text-center"  > 
        <label for="pays europe"> Europe
            <div>
                <select>
                    <option value="NaN"> choisir un pays </option>
                    <option value="France"> France </option>
                    <option value="Italie"> Italie </option>
                 </select>
            </div>
            


        </label>
    </div>
        
    <div class="m-10 text-center" >
        <label for="pays asie"> Asie
            <div>
                <select>
                    <option value="NaN"> choisir un pays </option>
                    <option value="liban"> Liban </option>
                    <option value="inde"> Turquie </option>
                </select>
            </div>


        </label>
    </div>
    <div class="m-10 text-center" >
        <label for="pays afrique"> Afrique
            <div>
                <select>
                    <option value="NaN"> choisir un pays </option>
                    <option value="Tunisie"> Tunisie </option>
                    <option value="Sénégal"> Sénégal </option>
                </select>
    
            </div>
 
        </label>

    </div>
    <div class="m-10 text-center">
        <label for="pays Océanie"> Océanie </label>
        <div>
            <select>
                <option value="NaN"> choisir un pays </option>
                <option value="australie"> Australie </option>
            </select> 
        </div>


    </div>
    <div class="m-10 text-center" >
        <label for="pays amérique du nord "> Amérique du nord 
            <div>
                <select>
                    <option value="NaN"> choisir un pays </option>
                    <option value="Canada"> Canada </option>
                </select>
            </div>

        </label>

    </div>
    <div class="m-10 text-center">
       <label for="pays Amérique du sud"> Amérique du sud </label>
       <div>
        <select>
            <option value="NaN"> choisir un pays </option>
            <option value="Brésil"> Brésil </option>
            <option value="Mexique"> Mexique</option>
        </select>
       </div>


    </div>
        
        
 </form>
    
</body>
</html>
