<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/recherche continents.css">
    <title>Document</title>
</head>
<body>
 <form method="get">
    <div class="m-10"> 
        <label for="pays europe"> Europe
             <select>
                <option value="NaN"> choisir un pays </option>
                <option value="France"> France </option>
                <option value="Italie"> Italie </option>
             </select>

        </label>
    </div>
        
    <div class="m-10" >
        <label for="pays asie"> Asie
            <select>
                <option value="NaN"> choisir un pays </option>
                <option value="liban"> Liban </option>
                <option value="inde"> Inde </option>
            </select>

        </label>
    </div>
    <div class="m-10" >
        <label for="pays afrique"> Afrique
            <select>
                <option value="NaN"> choisir un pays </option>
                <option value="Tunisie"> Tunisie </option>
                <option value="Sénégal"> Sénégal </option>
            </select>

        </label>

    </div>
    <div class="m-10">
        <label for="pays Océanie"> Océanie </label>
        <select>
            <option value="NaN"> choisir un pays </option>
            <option value="australie"> Australie </option>
        </select> 

    </div>
    <div class="m-10" >
        <label for="pays amérique du nord "> Amérique du nord 
            <select>
                <option value="NaN"> choisir un pays </option>
                <option value=" Mexique"> Mexique </option>
                <option value="Canada"> Canada </option>
            </select>
        </label>

    </div>
    <div class="m-10">
       <label for="pays Amérique du sud"> Amérique du sud </label>
            <select>
                <option value="NaN"> choisir un pays </option>
                <option value="Brésil"> Brésil </option>
                <option value="argentine"> Argentine </option>
            </select>

    </div>
        
        
 </form>
    
</body>
</html>
